@import "./variables";
//按钮

.btn_blue {
    background: $blue;
    color: $white;
}

.btn_wathet {
    background: $wathet-blue;
    color: $dark-blue;
}


.btn {
    padding: 10px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    margin-left: 10px;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }


}
